QTextEdit, QGraphicsView {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgb(174, 149, 229);
  padding: 10px;
  color: lightgray;
}

QToolBar {
  background-color: rgba(0, 0, 0, 0.3);
  /* top | right | bottom | left */
  border: solid rgb(174, 149, 229);
  border-width: 0 0 1px 0;
}

QPushButton {
  margin: 5px;
  font-size: large;
  padding-bottom: 3px;
}

QMainWindow {
  background-color: rgb(87, 70, 123);
}

QScrollBar {
  background-color: rgba(87, 70, 123, 0.3);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

QScrollBar::handle, QScrollBar::add-line, QScrollBar::sub-line{
  background: rgb(87, 70, 123);
  border: 1px solid rgb(174, 149, 229);
  color: lightgray;
}