QTextEdit, QGraphicsView {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgb(174, 149, 229);
  padding: 10px;
  color: lightgray;
}

/*QGraphicsView {
  background-color: #342a4a;
}*/

QToolBar {
  background-color: rgba(0, 0, 0, 0.3);
  /* top | right | bottom | left */
  border: 1px solid rgb(174, 149, 229);
  border-radius: 5px;
}

QComboBox {
  background-color: transparent;
  border-width: 0 0 0 1px;
  border-color: rgb(174, 149, 229);
  border-style: solid;
  color: lightgray;
  width: 45px;
  padding-left: 5px;
}

QComboBox::item {
  background-color: rgb(87, 70, 123);
  text-align: center;
}

QToolButton:!checked {
  border: 2px solid transparent;
}

QPushButton {
  margin: 5px;
  font-size: large;
}

QMainWindow, QMdiSubWindow {
  background-color: rgb(87, 70, 123);
  color: lightgray;
}

QTreeView, QMenuBar {
  background-color: rgba(0, 0, 0, 0.3);
  color: lightgray;
}

QMenu {
  background-color: rgb(87, 70, 123);
  border: 1px solid rgb(174, 149, 229);
  color: lightgray;
}

QMenu::item:selected {
  background-color: rgba(0, 0, 0, 0.3);
  color: lightgray;
}

QMenu::item:disabled {
  color: gray;
}

QScrollBar {
  background-color: rgba(87, 70, 123, 0.3);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

QScrollBar::handle, QScrollBar::add-line, QScrollBar::sub-line{
  background: rgb(87, 70, 123);
  border: 1px solid rgb(174, 149, 229);
  color: lightgray;
}