QTextEdit, QGraphicsView {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgb(174, 149, 229);
  padding: 10px;
  color: lightgray;
}

QGraphicsView {
  background-color: #342a4a;
}

QToolBar {
  background-color: rgba(0, 0, 0, 0.3);
  /* top | right | bottom | left */
  border: 1px solid rgb(174, 149, 229);
  border-radius: 5px;
}

QToolButton:!checked {
  border: 2px solid transparent;
}

QPushButton {
  margin: 5px;
  font-size: large;
}

#Hearts {
  background: aqua;
}

QMdiArea {
  background: transparent;
}

QMdiSubWindow {
  background-color: rgb(87, 70, 123);
  color: lightgray;
}

QScrollBar {
  background-color: rgba(87, 70, 123, 0.3);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

QScrollBar::handle, QScrollBar::add-line, QScrollBar::sub-line{
  background: rgb(87, 70, 123);
  border: 1px solid rgb(174, 149, 229);
  color: lightgray;
}